.new-quote
{
  
  font-size: 1.6vw;
  color :white
}


.quote-box
{
    background-color : white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.text
{
  text-align: center;
  margin: 10%;
  font-size: 2vw;
  color : white;
  /*transition: opacity 5s;*/
  /*opacity: 20;*/
  
}

.author
{
  text-align: right;
  padding-right: 5%;
  font-size: 1.8vw;
  color : white;
  
}

.tweet-design
{
  color: white;
  font-size: 2vw;
}


.styling
{
  text-align: right;
}



